// These are set explicitly so the body
// color loads correctly before the mantine body
// variable is overridden with JS.
body[data-mantine-color-scheme="light"] {
  background-color: #f8f9fa;
}
body[data-mantine-color-scheme="dark"] {
  background-color: #0f1115;
}

.monaco-editor {
  position: absolute !important;
}

.xterm .xterm-viewport::-webkit-scrollbar {
  width: 5px;
  border-radius: var(--mantine-radius-sm);
}
